body {
    margin: 0;
    background-color: rgb(145, 199, 145)
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: bisque;
    position: fixed;
    height: 100%;
    overflow: auto;
}
nav li a:hover:not(.active) {
    background-color: #4f429b;
    color: white;
  }

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

div {
    
    margin-left:130px;
    padding: 1px 16px;
}

#pride {
    background-color: red;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  }

#zelleOben {
    height: 50px;
    padding-top: 12px;
    padding-left: 15px;
    vertical-align: top;
    text-align: center;
    }

#lunge {
    animation: mymove 5s infinite;
    height: 1px;
    }
      
@keyframes mymove {
    30% {font-size: 10px;}
    }

    #c {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    top: 0;
    }

#matrixText {
    color: greenyellow
}
#cardContainerKarten {
    display: flex;
    flex-wrap: wrap;
    border: 1px red solid;
    margin-left: 130px;
    margin-right: 3vw;
}


.Karte {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(61, 93, 180);
    border: 5px rgba(0, 0, 0, 0.089) solid;
    box-shadow: 10px 10px 5px lightblue;
    width: 15vh;
    height: auto;
    padding: 5px;
    margin-left: 0;
    border-radius: 15px;
    margin-right: 3vw;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.KartenBilder{
    width: 100%;
    justify-content: center;
    justify-self: center;
}